
img{

    width:50%;

}

body{
    background: #CE5757;
}



/*layout*/

/*typography*/

/*navigation*/
a{
    display: block;
    text-decoration: none;    
    height: 50px;
    width: 100px;
}

li{
    display: inline-block;
}